$times: "\6d88";// ×
$plus: "\6e1b";// +
$minus: "\5897";// -
$eye: "\89a7";// view
$palette: "\8272";// colorpicker
$link: "\7e4b";
$copy: "\5199";// copy text
$code: "\7b26";// copy html
$sort: "\4e26";
$sort-down: "\964d";
$sort-up: "\6607";
$caret-down: "\4e0b";
$caret-up: "\4e0a";
$caret-left: "\5de6";
$caret-right: "\53f3";
$ellipsis-v: "\9332";// menu
$history: "\5c65";
$cog: "\8a2d";// setting
$pen: "\7de8";// edit
$question: "\8a73";
$save: "\4fdd";
$search: "\7d22";
$tag: "\7b8b";
$trash: "\68c4";// remove
$chart-bar: "\8868";
$file-alt: "\6587";// document
$image: "\7d75";
$folder: "\985e";// category