@charset "UTF-8";
.anew {
  position: absolute;
  background: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9000; }
  .anew > div {
    height: 100%; }
  .anew .content {
    height: calc(100% - 3.875em);
    margin: 0.75em 0 3.125em;
    padding: 0.25em 1em 0.5em;
    overflow-y: scroll; }
  .anew .head {
    font-size: 1.25em; }
    .anew .head > div {
      border: 1px solid #3c3c3c;
      border-radius: 2px;
      width: 100%;
      margin: 0;
      padding: 0.2em 0.35em;
      line-height: 1.3em;
      text-align: left;
      white-space: pre-line;
      cursor: text; }
      .anew .head > div[data-placeholder]:empty::before {
        content: attr(data-placeholder);
        color: #a3a3a3; }
      .anew .head > div:focus {
        outline: none;
        box-shadow: 0 0 0 2px #a3a3a3; }
  .anew .series {
    display: flex;
    position: relative;
    padding: 1em 0 0;
    text-align: left; }
    .anew .series > button {
      flex-shrink: 0; }
    .anew .series > p {
      position: relative;
      width: calc(100% - 2.125em);
      margin: 0;
      padding: 0 1.5em 0 0.625em;
      line-height: 2.125em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .anew .series > p .icn {
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%); }
    .anew .series .field {
      position: relative;
      width: calc(100% - 2.125em);
      padding: 0 0 0 0.625em;
      z-index: 1000; }
      .anew .series .field > p {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0; }
        .anew .series .field > p > input {
          width: 100%;
          height: 2.125em;
          padding: 0.438em; }
        .anew .series .field > p > button {
          flex-shrink: 0;
          margin: 0 0 0 0.625em; }
      .anew .series .field > ul {
        position: absolute;
        left: 0.625em;
        right: 3.625em;
        top: 100%;
        margin: -2px 0 0;
        padding: 2px 0 0;
        line-height: 1;
        list-style: none; }
        .anew .series .field > ul > li {
          display: block;
          background: #fff;
          border-left: 1px solid #3c3c3c;
          border-right: 1px solid #3c3c3c; }
          .anew .series .field > ul > li + li {
            border-top: 1px solid #3c3c3c; }
          .anew .series .field > ul > li:last-child {
            border-bottom: 1px solid #3c3c3c; }
          .anew .series .field > ul > li > a {
            display: block;
            padding: 0.5em;
            color: #434343;
            cursor: pointer; }
            .isMD .anew .series .field > ul > li > a:hover {
              background: #d8d8d8 !important; }
            .isMD .anew .series .field > ul > li > a:active, .isTD .anew .series .field > ul > li > a:active {
              background: #606060 !important;
              color: #fff; }
  .anew .color {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.625em 0 0;
    text-align: left; }
    .anew .color .code {
      display: flex;
      align-items: center;
      margin: 0 0 0 1em;
      letter-spacing: 0.03em; }
      .anew .color .code > i {
        display: block;
        width: 1.25em;
        height: 1.25em;
        margin: 0 0.375em 0 0; }
    .anew .color .palette {
      position: absolute;
      left: 0;
      top: 100%;
      padding: 0.625em;
      z-index: 100; }
  .anew .tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em 0 0;
    text-align: left; }
    .anew .tags > button {
      flex-shrink: 0; }
      .anew .tags > button + .area {
        padding: 0 0 0 0.625em; }
    .anew .tags .field {
      position: relative;
      width: calc(100% - 2.125em);
      padding: 0 0 0 0.625em; }
      .anew .tags .field > p {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0; }
        .anew .tags .field > p > input {
          width: 100%;
          height: 2.125em;
          padding: 0.438em; }
        .anew .tags .field > p > button {
          flex-shrink: 0;
          margin: 0 0 0 0.625em; }
      .anew .tags .field > ul {
        position: absolute;
        left: 0.625em;
        right: 3.625em;
        top: 100%;
        margin: -2px 0 0;
        padding: 2px 0 0;
        line-height: 1;
        list-style: none; }
        .anew .tags .field > ul > li {
          display: block;
          background: #fff;
          border-left: 1px solid #3c3c3c;
          border-right: 1px solid #3c3c3c; }
          .anew .tags .field > ul > li + li {
            border-top: 1px solid #3c3c3c; }
          .anew .tags .field > ul > li:last-child {
            border-bottom: 1px solid #3c3c3c; }
          .anew .tags .field > ul > li > a {
            display: block;
            padding: 0.5em;
            color: #434343;
            cursor: pointer; }
            .isMD .anew .tags .field > ul > li > a.isHover {
              background: #d8d8d8 !important; }
            .isMD .anew .tags .field > ul > li > a.isActive, .isTD .anew .tags .field > ul > li > a.isActive {
              background: #606060 !important;
              color: #fff; }
    .anew .tags .area {
      padding: 0.5em 0 0; }
      .anew .tags .area > ul {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0; }
        .anew .tags .area > ul > li {
          display: block;
          margin: 0 0.5em 0 0; }
          .anew .tags .area > ul > li > a {
            display: block;
            background: #eaeaea;
            border-radius: 0.286em;
            padding: 0 0.5em;
            line-height: 1.715em;
            font-size: 0.875em;
            cursor: pointer; }
            .isMD .anew .tags .area > ul > li > a.isHover {
              background: #d8d8d8 !important; }
            .isMD .anew .tags .area > ul > li > a.isActive, .isTD .anew .tags .area > ul > li > a.isActive {
              background: #606060 !important;
              color: #fff; }
  .anew .body {
    padding: 1em 0;
    line-height: 0; }
    .anew .body > div {
      border: 1px solid #3c3c3c;
      border-radius: 2px;
      width: 100%;
      min-height: 6em;
      margin: 0;
      padding: 0.125em 0.438em;
      line-height: 1.875em;
      text-align: left;
      white-space: pre-line;
      cursor: text; }
      .anew .body > div[data-placeholder]:empty::before {
        content: attr(data-placeholder);
        color: #a3a3a3; }
      .anew .body > div:focus {
        outline: none;
        box-shadow: 0 0 0 2px #a3a3a3; }
  .anew .list {
    padding: 0.625em 0 0;
    text-align: left;
    list-style: none; }
    .anew .list > ul {
      margin: 0;
      padding: 0; }
      .anew .list > ul > li {
        display: block; }
        .anew .list > ul > li + li {
          margin-top: 0.5em; }
    .anew .list .cardItem {
      position: relative;
      background: #f2f2f2;
      padding: 0.5em 0.625em 0.625em; }
      .anew .list .cardItem > i {
        position: absolute;
        border-left: 0.75em solid transparent;
        border-right: 0.75em solid;
        border-top: 0.75em solid;
        border-bottom: 0.75em solid transparent;
        width: 0;
        height: 0;
        right: 0;
        top: 0;
        pointer-events: none; }
      .anew .list .cardItem > h2 {
        margin: 0;
        padding: 0 0.556em 0 0;
        line-height: 1.223em;
        font-size: 1.125em;
        font-weight: 700;
        text-align: justify; }
        .anew .list .cardItem > h2 + time {
          margin-top: 1.25em; }
      .anew .list .cardItem > time {
        display: block;
        position: relative;
        margin: 0.625em 0 0;
        padding: 0 0 0 1.375em;
        letter-spacing: 0.02em;
        line-height: 1; }
        .anew .list .cardItem > time::before {
          position: absolute;
          left: 0;
          top: 50%;
          font-family: "Font Awesome 5 Free";
          color: #434343;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }
        .anew .list .cardItem > time.date::before {
          content: "履"; }
        .anew .list .cardItem > time.last::before {
          content: "編"; }
      .anew .list .cardItem > p {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        position: absolute;
        bottom: 0.5em;
        right: 0.625em;
        margin: 0;
        line-height: 1; }
        .anew .list .cardItem > p > button {
          display: block; }
          .anew .list .cardItem > p > button + button {
            margin-left: 0.625em; }
  .anew .foot {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9f9f9;
    height: 3.125em;
    padding: 0 0.5em; }
    .anew .foot > button {
      margin: 0 0.375em; }
      .anew .foot > button:nth-child(2):last-child {
        margin-left: 1.125em; }
