@charset "UTF-8";
@import "_pseudo";
@import "_mixin";

.dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(#000, 0.5);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9500;
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fff;
	height:  divceil(16*6.5, 16, "em");
    padding: divceil(16, 16, "em");
    > p {
        margin: 0;
        line-height: 1;
        > button {
            + button {
                margin-left: divceil(16, 16, "em");
            }
        }
    }
}
}