@-webkit-keyframes dcmSquare {
  0%, 5% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  20%, 30% {
    -webkit-transform: translate(-1.25em, 0);
    transform: translate(-1.25em, 0); }
  45%, 55% {
    -webkit-transform: translate(-1.25em, 1.25em);
    transform: translate(-1.25em, 1.25em); }
  70%, 80% {
    -webkit-transform: translate(0, 1.25em);
    transform: translate(0, 1.25em); }
  95%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes dcmSquare {
  0%, 5% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  20%, 30% {
    -webkit-transform: translate(-1.25em, 0);
    transform: translate(-1.25em, 0); }
  45%, 55% {
    -webkit-transform: translate(-1.25em, 1.25em);
    transform: translate(-1.25em, 1.25em); }
  70%, 80% {
    -webkit-transform: translate(0, 1.25em);
    transform: translate(0, 1.25em); }
  95%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@-webkit-keyframes ctgSquare {
  0%, 5% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  20%, 30% {
    -webkit-transform: translate(0, -1.25em);
    transform: translate(0, -1.25em); }
  45%, 55% {
    -webkit-transform: translate(-1.25em, -1.25em);
    transform: translate(-1.25em, -1.25em); }
  70%, 80% {
    -webkit-transform: translate(-1.25em, 0);
    transform: translate(-1.25em, 0); }
  95%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes ctgSquare {
  0%, 5% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  20%, 30% {
    -webkit-transform: translate(0, -1.25em);
    transform: translate(0, -1.25em); }
  45%, 55% {
    -webkit-transform: translate(-1.25em, -1.25em);
    transform: translate(-1.25em, -1.25em); }
  70%, 80% {
    -webkit-transform: translate(-1.25em, 0);
    transform: translate(-1.25em, 0); }
  95%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@-webkit-keyframes tagSquare {
  0%, 5% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  20%, 30% {
    -webkit-transform: translate(1.25em, 0);
    transform: translate(1.25em, 0); }
  45%, 55% {
    -webkit-transform: translate(1.25em, -1.25em);
    transform: translate(1.25em, -1.25em); }
  70%, 80% {
    -webkit-transform: translate(0, -1.25em);
    transform: translate(0, -1.25em); }
  95%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes tagSquare {
  0%, 5% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  20%, 30% {
    -webkit-transform: translate(1.25em, 0);
    transform: translate(1.25em, 0); }
  45%, 55% {
    -webkit-transform: translate(1.25em, -1.25em);
    transform: translate(1.25em, -1.25em); }
  70%, 80% {
    -webkit-transform: translate(0, -1.25em);
    transform: translate(0, -1.25em); }
  95%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@-webkit-keyframes square {
  0%, 5% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  20%, 30% {
    -webkit-transform: translate(0, 1.25em);
    transform: translate(0, 1.25em); }
  45%, 55% {
    -webkit-transform: translate(1.25em, 1.25em);
    transform: translate(1.25em, 1.25em); }
  70%, 80% {
    -webkit-transform: translate(1.25em, 0);
    transform: translate(1.25em, 0); }
  95%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes square {
  0%, 5% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  20%, 30% {
    -webkit-transform: translate(0, 1.25em);
    transform: translate(0, 1.25em); }
  45%, 55% {
    -webkit-transform: translate(1.25em, 1.25em);
    transform: translate(1.25em, 1.25em); }
  70%, 80% {
    -webkit-transform: translate(1.25em, 0);
    transform: translate(1.25em, 0); }
  95%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(255, 255, 255, 0.75);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: visible;
  z-index: 9500; }
  .loader.isHidden {
    visibility: hidden;
    pointer-events: none; }
  .loader > div {
    position: relative;
    width: 2.5em;
    height: 2.5em; }
    .loader > div > div {
      position: absolute;
      border-radius: 2px;
      width: 1em;
      height: 1em; }
      .loader > div > div:nth-child(1) {
        background: #75aae6;
        right: 0.125em;
        top: 0.125em;
        -webkit-animation: dcmSquare 2000ms linear 0ms infinite;
        animation: dcmSquare 2000ms linear 0ms infinite; }
      .loader > div > div:nth-child(2) {
        background: #eb9494;
        right: 0.125em;
        bottom: 0.125em;
        -webkit-animation: ctgSquare 2000ms linear 0ms infinite;
        animation: ctgSquare 2000ms linear 0ms infinite; }
      .loader > div > div:nth-child(3) {
        background: #ddc560;
        left: 0.125em;
        bottom: 0.125em;
        -webkit-animation: tagSquare 2000ms linear 0ms infinite;
        animation: tagSquare 2000ms linear 0ms infinite; }
      .loader > div > div:nth-child(4) {
        background: #d8d8d8;
        left: 0.125em;
        top: 0.125em;
        -webkit-animation: square 2000ms linear 0ms infinite;
        animation: square 2000ms linear 0ms infinite; }
