@charset "UTF-8";
.posts {
  position: absolute;
  background: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 3.125em;
  z-index: 9000; }
  .posts > button {
    position: absolute;
    right: 0.375em;
    top: 0.375em;
    font-weight: normal;
    font-size: 1.25em; }
  .posts .head {
    display: flex;
    align-items: center;
    position: absolute;
    background: #f9f9f9;
    height: 3.125em;
    left: 0;
    right: 0;
    top: 0;
    font-weight: 700; }
    .posts .head > h1 {
      margin: 0 0 0 0.5em;
      letter-spacing: 0.02em;
      line-height: 2.5em;
      font-size: 1.25em; }
  .posts .content {
    height: calc(100% - 3.625em);
    margin: 3.375em 0 0.25em;
    padding: 0 1em;
    overflow-y: scroll; }
  .posts .list {
    margin: 0;
    padding: 0.625em 0 0;
    text-align: left;
    list-style: none; }
    .posts .list > li {
      display: block; }
    .posts .list .cardItem {
      position: relative;
      background: #f2f2f2;
      padding: 0.5em 0.625em 0.625em; }
      .posts .list .cardItem > i {
        position: absolute;
        border-left: 0.75em solid transparent;
        border-right: 0.75em solid;
        border-top: 0.75em solid;
        border-bottom: 0.75em solid transparent;
        width: 0;
        height: 0;
        right: 0;
        top: 0;
        pointer-events: none; }
      .posts .list .cardItem > h2 {
        margin: 0;
        padding: 0 0.556em 0 0;
        line-height: 1.223em;
        font-size: 1.125em;
        font-weight: 700;
        text-align: justify; }
        .posts .list .cardItem > h2 + time {
          margin-top: 1.25em; }
      .posts .list .cardItem > time {
        display: block;
        position: relative;
        margin: 0.625em 0 0;
        padding: 0 0 0 1.375em;
        letter-spacing: 0.02em;
        line-height: 1; }
        .posts .list .cardItem > time::before {
          position: absolute;
          left: 0;
          top: 50%;
          font-family: "Font Awesome 5 Free";
          color: #434343;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }
        .posts .list .cardItem > time.date::before {
          content: "履"; }
        .posts .list .cardItem > time.last::before {
          content: "編"; }
      .posts .list .cardItem > p {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        position: absolute;
        bottom: 0.5em;
        right: 0.625em;
        margin: 0;
        line-height: 1; }
        .posts .list .cardItem > p > button {
          display: block; }
          .posts .list .cardItem > p > button + button {
            margin-left: 0.625em; }
  .posts .note {
    margin: 0;
    padding: 0.625em 0 0;
    line-height: 1.5em;
    text-align: left; }
