@charset "UTF-8";
.view {
  position: absolute;
  background: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9000; }
  .view > div {
    background: #fff;
    height: 100%; }
    .view > div.front {
      position: relative;
      z-index: 10; }
      .view > div.front .content {
        height: 100%; }
      .view > div.front .foot {
        display: none; }
    .view > div > button {
      position: absolute;
      right: 0.375em;
      top: 0.375em;
      font-weight: normal;
      font-size: 1.25em; }
  .view .content {
    height: calc(100% - 3.125em);
    margin: 0 0 3.125em;
    padding: 0.25em 1em 0.625em;
    overflow-y: scroll; }
  .view .head {
    padding: 2.5em 0 0;
    letter-spacing: 0.03em;
    line-height: 1.3em;
    font-size: 1.25em;
    font-weight: 700;
    text-align: justify; }
    .view .head > div {
      white-space: pre-line; }
  .view .body {
    padding: 0.625em 0 0;
    line-height: 1.875em;
    text-align: justify; }
    .view .body > div {
      white-space: pre-line; }
  .view .list {
    padding: 1.25em 0 0;
    text-align: left; }
    .view .list > ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .view .list > ul > li {
        display: block; }
        .view .list > ul > li + li {
          margin-top: 0.625em; }
    .view .list .cardItem {
      position: relative;
      background: #f2f2f2;
      padding: 0.5em 0.625em 0.625em; }
      .view .list .cardItem > i {
        position: absolute;
        border-left: 0.75em solid transparent;
        border-right: 0.75em solid;
        border-top: 0.75em solid;
        border-bottom: 0.75em solid transparent;
        width: 0;
        height: 0;
        right: 0;
        top: 0;
        pointer-events: none; }
      .view .list .cardItem > h2 {
        margin: 0;
        padding: 0 0.556em 0 0;
        line-height: 1.223em;
        font-size: 1.125em;
        font-weight: 700;
        text-align: justify; }
        .view .list .cardItem > h2 + time {
          margin-top: 1.25em; }
      .view .list .cardItem > time {
        display: block;
        position: relative;
        margin: 0.625em 0 0;
        padding: 0 0 0 1.375em;
        letter-spacing: 0.02em;
        line-height: 1; }
        .view .list .cardItem > time::before {
          position: absolute;
          left: 0;
          top: 50%;
          font-family: "Font Awesome 5 Free";
          color: #434343;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }
        .view .list .cardItem > time.date::before {
          content: "履"; }
        .view .list .cardItem > time.last::before {
          content: "編"; }
      .view .list .cardItem > p {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        position: absolute;
        bottom: 0.5em;
        right: 0.625em;
        margin: 0;
        line-height: 1; }
        .view .list .cardItem > p > button {
          display: block; }
          .view .list .cardItem > p > button + button {
            margin-left: 0.625em; }
  .view .series {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    height: 2em;
    left: 0;
    right: 0;
    top: 0;
    line-height: 0;
    text-align: left;
    overflow: hidden; }
    .view .series > i {
      display: block;
      position: absolute;
      border-left: 1em solid;
      border-right: 1em solid transparent;
      border-top: 1em solid;
      border-bottom: 1em solid transparent;
      width: 0;
      height: 0;
      left: 0;
      top: 0; }
    .view .series > p {
      margin: 0 0 0 2em;
      letter-spacing: 0.01em;
      line-height: 3.334em;
      font-size: 0.75em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  .view .tag > button {
    position: absolute;
    right: 2.525em;
    top: 0.4em;
    font-size: 1.25em;
    z-index: 15; }
  .view .tag > p {
    display: none;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    left: 0.5em;
    right: 0.5em;
    top: 0.5em;
    bottom: 3.625em;
    margin: 0;
    padding: 0.5em 0.25em;
    overflow-y: scroll;
    z-index: 10; }
    .view .tag > p.isShown {
      display: flex; }
      .view .tag > p.isShown + button {
        right: 0.375em; }
    .view .tag > p > span {
      display: block;
      background: #e2e2e2;
      margin: 0 0.25em;
      padding: 0.25em;
      line-height: 1.125em; }
  .view .foot {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9f9f9;
    height: 3.125em;
    padding: 0 0.5em; }
    .view .foot > button {
      margin: 0 0.375em; }
      .view .foot > button:nth-child(2):last-child {
        margin-left: 1.125em; }
